html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

header {
    background-color: #22223B;
}

nav .navbar-nav li a {
    color: #F2E9E4;
}

a {
    color: #C9ADA7;
}

.artwork-post-container {
    height: 450px;
    width: 350px;
    padding: 15px;
}

img {
    max-height: 400px;
}

.faded {
    color: rgba(34, 34, 59, 0.4);
    font-style: italic;
    font-size: smaller;
}

.home-header-container {
    width: 100%;
    height: 500px;
    max-height: 700px;
    margin-bottom: 10px;
}
.home-header-text-container {
    border-radius: 23% 77% 0% 100% / 70% 55% 45% 30%;
    background: rgb(74,78,105);
    background: linear-gradient(321deg, rgba(74,78,105,1) 0%, rgba(201,173,160,1) 31%, rgba(242,233,228,1) 92%);
    box-shadow: 11px 11px 13px #cbcbcb, -11px -11px 13px #ffffff;
}
.home-portfolio-container {
    width: 100%;
    height: 600px;
    max-height: 800px;
    margin-bottom: 10px;
}
.home-portfolio-text-container {
    border-radius: 51% 49% 77% 23% / 75% 70% 30% 25%;
    background: rgb(74,78,105);
    background: linear-gradient(321deg, rgba(74,78,105,1) 0%, rgba(201,173,160,1) 31%, rgba(242,233,228,1) 92%);
    box-shadow: 11px 11px 13px #cbcbcb, -11px -11px 13px #ffffff;
}
.home-API-container {
    width: 100%;
    height: 800px;
    max-height: 1000px;
    margin-bottom: 10px;
}

.portfolio-folders-container {
    width: 250px;
    max-width: 300px;
    background-color: #4A4E69;
    position: sticky;
    top: 0;
    bottom: 0;
    border-radius: 15px;
}
.sidebar{
    min-height: 700px;
    width: 100%;
}
hr.hr-color {
    background: #F2E9E4;
}
.portfolio-folder-display-container{
    padding: 10px;
}

