@model OnlineGallery.Model.UserArtwork

<div class="form-group">
    <label class="form-lable">Description</label>
    <textarea asp-for="Description" class="form-control" id="PostDescription" rows="3" placeholder="Write a description for your artwork..."></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
