@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group">
    <label class="control-lable">Description</label>
    <textarea id="PostDescription" rows="3" placeholder="Write a description for your artwork..."></textarea>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
