@model OnlineGallery.Model.UserArtwork

<div class="container">
    <form asp-action="Edit" method="post">

		<input type="hidden" asp-for="Id" value="@Model.Id" id="postId" />

		<partial name="_CreateOrEdit" model="Model"/>

	</form>

	<form id="postImages" asp-controller="Post" asp-action="UploadAttachment" asp-route-postId="@Model.Id" enctype="multipart/form-data" class="dropzone">
	</form>
	<div class="alert alert-info mt-2">
		<p>You can only upload files with these extensions: .jpg, .png, .gif, .jpeg</p>
	</div>
	<div id="attachments">
		
	</div>
</div>

@section Scripts{



	<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
	<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

	<script type="text/javascript"> 
		var postid = $("#postId").val();
		$(document).ready(function (){
			ImagesAJAX();
		})
		Dropzone.options.postImages = { 
			addRemoveLinks: true,
			paramName: "file",
			acceptedFiles: ".png,.jpg,.gif,.jpeg",
			dictInvalidFileType: "You can't upload files of this type.",
			success: function (file, response) { 
				if (file.previewElement != null && file.previewElement.parentNode != null) {
				  file.previewElement.parentNode.removeChild(file.previewElement);
				}
				ImagesAJAX()
				console.log({ file, response });
			},
			removedfile(file) {
				console.log(file);
				if (file.previewElement != null && file.previewElement.parentNode != null) {
				  file.previewElement.parentNode.removeChild(file.previewElement);
				}
				return this._updateMaxFilesReachedClass();
			},
		}; 
	</script>

	<script>
		function ImagesAJAX(){
			$.ajax({
				type:"POST",
				url:"@Url.Action("GetImages")",
				data: {"id":postid},
				success: function(result){
					console.log("success");
					$("#attachments").html(result)
				},
				error: function(result){
					console.log("error");
					console.log(result);
					$("#attachments").html(result)
				},
				failure: function(result){
					console.log("failure");
					$("#attachments").html(result)
				}
			});
		}

		function DeleteImageAJAX(imageid){
			$.ajax({
				type:"POST",
				url:"@Url.Action("DeleteAttachment")",
				data:{"id":imageid},
				success: function(result){
					ImagesAJAX()
				}
			});
		}
	
	
	</script>
}
