@model List<OnlineGallery.Model.UserArtwork>


<div class="container-fluid d-flex">
    <div class="portfolio-folders-container sticky-top">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header px-2 pt-3 pb-4">
                <div class="d-flex">
                    <h3> <span class="bg-white text-dark rounded box-shadow px-3 me-2">Folders</span> </h3>
                </div>
				<hr class="hr-color mx-2" />
                <div id="addFolder" class="d-flex mt-2">
                    <partial name="_AddFolder" model="new OnlineGallery.Model.Folder()" />
                </div>
            </div>
			<div id="folders">
				<partial name="_Folders" model="new List<OnlineGallery.Model.Folder>()" />
			</div>
        </div>
    </div>
    <div class="portfolio-folder-display-container" id="folder">
		<partial name="_Folder" model="new OnlineGallery.Model.Folder()" />
    </div>
</div>


@section Scripts{

	<script>

		var postid = $("#postID").val();
		$(document).ready(function (){
			console.log();
			FoldersAJAX();
		})

		function FoldersAJAX(){
			$.ajax({
				type:"POST",
				url:"@Url.Action("GetFolders")",
				data: {},
				success: function(result){
					console.log("success");
					$("#folders").html(result)
				},
				error: function(result){
					console.log("error");
					console.log(result);
					$("#folders").html(result)
				},
				failure: function(result){
					console.log("failure");
					$("#folders").html(result)
				}
			});
		}

		function DisplayFolderAJAX(folderid){
			$.ajax({
				type:"POST",
				url:"@Url.Action("GetFolder")",
				data:{"id":folderid},
				success: function(result){
					$("#folder").html(result)
				}
			});
		}

		function DeleteFolderAJAX(folderid){
			$.ajax({
				type:"POST",
				url:"@Url.Action("DeleteFolder")",
				data:{"id":folderid},
				success: function(result){
					FoldersAJAX()
				}
			});
		}
	
	</script>
}








