@model List<OnlineGallery.Model.UserArtwork>


<a class="text-dark" asp-action="CreatePost">Add Artwork</a>


@if(Model != null)
{
    foreach(var artwork in Model)
    {
        <p>@artwork.Description</p>
        <a asp-action="Edit" asp-route-id="@artwork.Id">Edit</a>
    }
}
