<div class="container">
    <h1>About</h1>
    <div class="row mt-2">

        <div class="col-12 col-lg-4">

            <div class="d-flex justify-content-sm-center justify-content-lg-end">
                <div class="p-2">
                    <div class="h-25">
                        <img src="~/files/linkedinPNG.png" class="img-fluid rounded-circle h-100" />
                    </div>
                    <div class="mt-2 p-2">
                        <a href="https://hr.linkedin.com/in/tea-%C5%A1ipuljak-a3732120a" class="btn btn-primary">LinkedIn</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-4">

            <div class="d-flex justify-content-center justify-content-lg-center">
                <div class="p-2">
                    <div class="h-25">
                        <img src="~/files/instagramPNG.jpg" class="img-fluid rounded-circle h-100" />
                    </div>
                    <div class="mt-2 p-2">
                        <a href="https://www.instagram.com/bringtheartfire/" class="btn btn-primary">Instagram</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-4">
            <div class="d-flex justify-content-center justify-content-lg-start">
                <div class="p-2">
                    <div class="h-25">
                        <img src="~/files/youtubePNG.png" class="img-fluid rounded-circle h-100" />
                    </div>
                    <div class="p-2">
                        <p>Youtube</p>
                    </div>
                </div>
            </div>
        </div>

    </div> 

</div>