@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header-container">

</div>

<div class="home-portfolio-container">

</div>
<div class="home-API-container">

</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
