@{
    ViewData["Title"] = "Home Page";
}

<section>
<div class="container">
    <div class="home-header-container pt-3">
        <div class="row h-100">
            <div class="d-none d-md-block col-md-6">
                <div class="d-flex h-100 p-2 justify-content-center align-items-center">
                    <img src="~/files/portfolioSVG.svg" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 col-md-6 pr-3">
                <div class="h-100">
                    <div class="d-flex h-100 justify-content-center align-items-end text-center">
                        <div class="p-2 h-50">
                            <h2>Create your own portfolio</h2>
                            <p>Upload your works and share them with your friends!</p>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Artworks">Get started!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="home-portfolio-container">
        <div class="row h-100">
            <div class="col-12 col-md-5">
                <div class="h-100">
                    <div class="d-flex h-100 justify-content-center align-items-end text-center">
                        <div class="p-2 h-50">
                            <h2>Create folders</h2>
                            <p>Create specific folders for storing your works!</p>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Artworks">Get creating!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-7">
                <div class="d-flex h-100 p-2 justify-content-center align-items-center">
                    <img src="~/files/folderSVG.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="container">
    <div class="home-API-container">
        <div class="row h-100">
            <div class="d-none d-md-block col-md-7">
                <div class="d-flex h-100 p-2 justify-content-center align-items-center">
                    <img src="~/files/designinspirationSVG.svg" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="d-flex h-100 justify-content-center justify-content-md-start align-items-end text-center">
                    <div class="p-2 h-50">
                        <h2>View real artworks</h2>
                        <p>Get inspired with other artists artworks!</p>
                        <a class="btn btn-primary" asp-action="Index" asp-controller="APIArtworks">View!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

